node_modules
dist
npm-debug.log

.env
*.local
*.log

.git
.gitignore
.gitattributes

Dockerfile*
docker-compose*
Jenkinsfile
*.sh

.vscode
.idea
*.iml

README.md
LICENSE
CHANGELOG.md