<main>
    <title>Air India Home</title>

    <body>
        <section id="main-menu">

            <h1>Welcome to Air India</h1>

            <p>Here you will find the different possibilities we offer you. Select one of the following options to continue.</p>
    
                <div id="navigation-buttons">
                        <button [routerLink]="ROUTES.FLIGHT_LIST"> List Flights</button>
                        <button [routerLink]="ROUTES.PASSENGER_CREATION"> New Passenger</button>
                        <button [routerLink]="ROUTES.BOOK_FLIGHT"> Book Flight</button>
                        <button [routerLink]="ROUTES.RESERVATION_INFO"> Information of your Flight</button>
                        <button [routerLink]="ROUTES.CANCEL_RESERVATION"> Cancel Flight</button>
                </div>
        </section>    
    </body>

</main>