*{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

button {
    background-color: #264769;;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: medium;
}

#navigation-buttons{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#main-menu{
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 15px;
}

h1{
    color: #3d4853;
    font-size: xx-large;
}

#navigation-buttons button{
    font-size: x-large;
    padding: 50px 20px;
    
}

button:hover{
    background-color: #1565C0;
    transition: 0.7s;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: #264769;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #1565C0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #264769;
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: auto;  
}

.table_component {
    overflow: auto;
    width: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
}

.table_component table {
    border: 1px solid #a9a9b1;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: center;
}

.table_component th {
    background-color: #264769;
    color: #ffffff;
    padding: 5px;
}

.table_component th, .table_component td{
    padding: 10px;
    border: 1px solid #a9a9b1;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
